<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Person</title>
</head>

<body>

<p th:text="${person.getName()}"> VALUE NAME</p>
<p th:text="${person.getId()}"> VALUE ID</p>
<p th:text="${person.getAge()}"> VALUE AGE</p>
<p th:text="${person.getEmail()}"> VALUE EMAIL</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>

</html>